*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #F08A5D, #B83B5E );
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #B83B5E;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #B83B5E;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{/* js div */
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease; /* add some delay for the animation */
}

.todo li{/* js li */
    flex: 1;
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn{
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(2, 177, 2);
}


.trash-btn {
    background: rgb(163, 36, 36);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{ /* disable clicking on the icon */
    pointer-events: none;
}

.checked{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    color: #B83B5E;/*change to another color according to the pallete */
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";/*Adds the arrow to the box*/
    position: absolute;
    background: #B83B5E;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #B83B5E;
}